com2sec notConfigUser  default {{ snmp_community }}
group   notConfigGroup v1           notConfigUser
group   notConfigGroup v2c           notConfigUser
access  notConfigGroup ""      any       noauth    exact  all  none none
view all    included  .1                               80
syslocation {{ snmp_location }}
syscontact {{ snmp_contact }}
dontLogTCPWrappersConnects yes
