---
#file roles/apt-upgrade/tasks/main.yml
- name: Ensure aptitude is installed
  apt: name=aptitude state=latest update_cache=yes cache_valid_time=3600

- name: Run apt-get autoclean
  command: apt-get -y autoclean

- name: Run apt-get autoremove
  command: apt-get -y autoremove

- name: Run apt-upgrade safely
  apt: update_cache=yes upgrade=safe cache_valid_time=3600

- name: Reboot system if required
  command: shutdown -r now 'Rebooting to complete system upgrade' removes=/var/run/reboot-required
  when: "'henry' not in inventory_hostname"
